<nb-card accent="warning" [nbSpinner]="unloaded" nbSpinnerStatus="info">
  <nb-card-header>
    {{processname}}
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)"
      (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="primary" (click)="cancel()">Close</button>
  </nb-card-footer>
</nb-card>